html
    head
        title Colin Sygiel
        meta(name='viewport',content='width=device-width, initial-scale=1')
        link(rel='stylesheet',href='css/style.css',type='text/css')
    body
        .Scene
            canvas.Scene-mountains(role='presentation')
    script(src='js/main.js')