html
  head
    title Colin Sygiel
    meta(name='viewport',content='width=device-width, initial-scale=1')
    link(rel='stylesheet',href='css/style.css?v=#{randomNumber()}')
  body
    div.Center
    .ScrollWrapper
      header.Header.js-HasVH(data-vh='0.751')
        .Scene
          .Scene-sky
          canvas.Scene-stars
          img(class='dunes', src='../assets/dunes.svg')
      main
        .container
          
    script(src='/reload/reload.js')
    script(src='js/main.js?0003')
