body {
  background: #E8DFEA;
  margin: 0;
  padding: 0;
  color: #001d2e;
  font-family: Georgia, serif;
  font-size: 20px;
  line-height: 1.6;
}
.Scene-sky {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #75517d;
  background: linear-gradient(
    #1b2947,
    #282f51,
    #36365a,
    #443c63,
    #52426b,
    #614973,
    #704f7b,
    #815482,
    #935988,
    #a55d8d,
    #b86291,
    #cb6692,
    #dd6b93,
    #ec7691
  );
  height: 60vh;
}
.Scene-stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh;
}
.container {
  width: 700px;
  margin: 0 auto;
}
