body {
  background: #ffcf8a;
  margin: 0;
  padding: 0;
  color: #001d2e;
  font-family: Georgia, serif;
  font-size: 20px;
  line-height: 1.6;
  overflow-x: hidden;
}
.Title {
  font-family: "Avenir Next";
  color: #ffcf8a;
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  margin-top: -50px;
  letter-spacing: 0.2em;
  font-size: 45px;
  line-height: 1.4;
  font-weight: bold;
}

.Sub {
  font-family: "Avenir Next";
  color: rgb(255, 237, 219);
  position: absolute;
  top: 26%;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  margin-top: -50px;
  letter-spacing: 0.15em;
  font-size: 35px;
  line-height: 1.4;
  font-weight: 500;
}

.Scene {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.Scene-sky {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #75517d;
  background: linear-gradient(
    #1b2947,
    #282f51,
    #36365a,
    #443c63,
    #52426b,
    #614973,
    #704f7b,
    #815482,
    #935988,
    #a55d8d,
    #b86291,
    #cb6692,
    #dd6b93,
    #ec7691
  );
  height: 70vh;
}
.dunes {
  width: 101%;
  position: absolute;
  bottom: 0;
  margin-bottom: 240px;
}
.Scene-stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
}
.container {
  width: 700px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .Title {
    top: 20%;
    font-size: 35px;
  }
  .Sub {
    top: 25%;
    font-size: 25px;
  }
}
